@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a {
  @apply text-slate-900;
}

::selection {
  @apply bg-indigo-100 text-indigo-900;
}
